*{margin:0;}
html, body{
    margin:0;
    display: flex;
    flex-direction: column;
background-color: #ECF0F5;
font-family: book antiqua;}
header{
    height: 65px;
    background-color: white;
    color: blue; }
#contenedor{
    height:80%;
    }
main{
    background-color: white;
    margin:10px;
}
article{
    height: auto;}
aside{
    height: auto;
    background-color: white;
    margin: 10px;}

    /*CURSOS*/
.cursos{
    list-style: none;
    }
    .cursos li{
        padding-bottom: 15px;
    }
    .cursos li a{
        color:#5BA0D6;
        text-decoration: none;
    }
    .cursos p:hover{color:#206398}
    .cursos h3{
        margin: 5px;
        padding: 10px;
        color:white;
        background-color: #5BA0D6;
        opacity: 0.8;
    }
    /*HORARIO*/
    .izq h3{
        margin: 10px;
        padding: 15px;
        color:white;
        background-color: #5BA0D6;
        opacity: 0.8;
    }
    .izq span p{
        padding-top: 15px;
        color:#5BA0D6;
        margin: 10px;
    }
    .dia{
        text-align: center;
        font-size: 18px;
        color: green;
    }
    .imagen2{
        width: 200px;
        height: 200px;
        display: block;
        margin: auto;}
    /*CENTRO*/
   
    #centro h2{
        margin:10px;
        padding:15px;
        margin: 20px;
        padding:10px;
        text-align: center;
        color:white;
        background-color:#5BA0D6;
        border-radius: 15px;
    }
    h2:hover{
        background-image: linear-gradient(-90deg, #207ce5, #66D9DE);}
    .imagen{
        width: 750px;
        height: 450px;
        display: block;
        margin: auto;
    }
    .bilingue{
        width: 325px;
        height: 150px;
        display: block;
        margin: auto;
        padding-top: 30px;
    }
    #centro p{
        margin:5px;
        padding: 5px;
        color: grey;
    }
    /*MENU*/
    header{
        width: 100%;
        background:#5BA0D6;
    }
   #botonmenu{
    display: none;
    }
    header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right:1px solid #fff;
    }
    header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);
    }
    .menu ul{
    margin:0;
    padding: 0;
    list-style: none;
    display: flex;
    }
    .menu li:hover{
        background: rgba(0,0,0,0.3);
    }
    .menu li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    }

      /*FOOTER*/
    footer{
        display: block;
        background-color:#DFAA00;
        text-align: center;
        bottom: 0;
        width: 100%;
        height: 10%;
        color: white;}
        
        footer div i {
          display: block;
        font-size: 25px;
        padding: 5px;
        color: white;
        ;}
      
        footer i:hover{color:black;}
        #redes{
            width: 100%;
            display: inline-block;
        }
        #direccion{
            width: 100%;
            display: inline-block;
        }
   /*Posicionamiento*/

/*PC*/

#contenedor{
    display: flex;
    flex-direction: row;
}
.izq{
    flex: 15%;
}
main{
    flex: 70%;
}
.der{
    flex: 15%;
}



/*TABLET*/
@media screen and (max-width:768px){
   
    header label {
        display: block;
    }
    .menu{
        position: absolute;
        background:#5BA0D6 ;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }
    /*la virgulilla lo que hace es buscar hasta que encuentre el selector*/
    #botonmenu:checked ~ .menu {
        margin: 0;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid white;
    }
    .izq{
        display: 20%;
    }
    main{
        flex: 80%;
    }
    .der{
        display: none;
    }
    .texto{
        margin-right: 40%;
        font-size: 18px;}
} 
    #centro{
            margin-right: 25%;
            font-size: 18px;}
    .imagen{
             width: 500px;
             height: 400px;
             display: block;
             margin: auto;
            }

/*MOVIL*/
@media screen and (max-width:425px){
        
        .izq{
            display: none;
        }
        main{
            flex: 100%; 
        }
        .der{
            display:none
        }
        #centro{
            margin-right: 25%;
            font-size: 18px;}
            .imagen{
                width: 300px;
                height: 250px;
                display: block;
                margin: auto;
            }
            .bilingue{
                width: 220px;
                height: 150px;
                display: block;
                margin: auto;
                padding-top: 30px;
    }