body{margin: 0;background-color: #ECF0F5;}
header{height: 100px; background-color: white;}
#contenedor{margin: 10px;}

aside{background-color: white;height: auto;}
article{height: 200px; background-color: white;margin: 0px 10px 10px 10px;}
/*MENU*/
    
.logo:hover{background-color: grey;}
header{
    padding: 2em;
}
.menu1{display: flex;
align-items: center;}

.menu1 li{
    display: inline-block;
    margin: auto;
}
.menu1 li a { 
text-decoration: none;
font-family: Arial;
font-size: 15px;
float: left;
padding: 30px;;
color:#5BA0D6;
display: block;}
.menu1 li a:hover{
    color: #206398;
}
/*HORARIO*/
.izq h3{
    margin: 10px;
    padding: 15px;
    color:white;
    background-color: #5BA0D6;
    opacity: 0.6;
}
.izq span p{
    padding-top: 15px;
    color:#5BA0D6;
    margin: 10px;
}
/*CURSOS*/
.cursos{
    list-style: none;
    }
    .cursos li{
        padding-bottom: 15px;
    }
    .cursos li a{
        color:#5BA0D6;
    }
    .cursos p:hover{color:#206398}
    .cursos h3{
        margin: 5px;
        padding: 10px;
        color:white;
        background-color: #5BA0D6;
        opacity: 0.6;
    }
    footer{
        display: block;
        background-color:#DFAA00;
        text-align: center;
        bottom: 0;
        width: 100%;
        height: 10%;
        color: white;}
        
        footer div i {
          display: block;
        font-size: 25px;
        padding: 5px;
        color: white;
        ;}
        footer i:hover{color:black;}
        #redes{
            width: 100%;
            display: inline-block;
        }
        #direccion{
            width: 100%;
            display: inline-block;
        }
/*Posicionamiento*/

/*PC*/

#contenedor{
    display: flex;
    flex-direction: row;
}
.izq{
    flex: 15%;
}
main{
    flex: 70%;
}
.der{
    flex: 15%;
}


/*TABLET*/
@media screen and (min-width:426px) and (max-width:768px){
   
    .izq{
        display: none;
    }
    main{
        flex: 80%;
    }
    .der{
        flex: 20%;
    }
    }

/*MOVIL*/
@media screen and (max-width:425px){
        
        .izq{
            display: none;
        }
        main{
            flex: 100%;
        }
        .der{
            display:none
        }
        }
        
    

