body{margin: 0;background-color: #ECF0F5;font-family: book antiqua;}
header{height: 100px; background-color: white;}
#contenedor{margin: 10px;}
main{background-color: white;margin: 0px 20px 10px 20px;}
aside{background-color: white;height: auto;}
article{width: 100%; background-color: white;}
/*MENU*/
header{
        width: 100%;
        background:#5BA0D6;
        height: 20%;
    }
   #botonmenu{
    display: none;
    }
    header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right:1px solid #fff;
    }
    header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);
    }
    .menu ul{
    margin:0;
    padding: 0;
    list-style: none;
    display: flex;
    }
    .menu li:hover{
        background: rgba(0,0,0,0.3);
    }
    .menu li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    }
    
/*HORARIO*/
.izq h3{
    margin: 10px;
    padding: 15px;
    color:white;
    background-color: #5BA0D6;
    opacity: 0.8;
}
.izq span p{
    padding-top: 15px;
    color:#5BA0D6;
    margin: 10px;
    font-size: 15px;
}
.izq span p:hover{
    color:#206398;
}
.dia{
    font-size: 18px;
    color: green;
    text-align: center;
}
.imagen2{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}
/*CURSOS*/
 .cursos{
    list-style: none;
    margin-left: -30px;
    margin-right: 30px;
    }
    .cursos li{
        padding-bottom: 15px;
    }
    .cursos li a{
        color:#5BA0D6;
        text-decoration: none;
    }
    .cursos li a:hover{
        color:#206398;
    }
    .cursos h3{
        margin: 5px;
        padding: 10px;
        color:white;
        background-color: #5BA0D6;
        opacity: 0.8;
    }
    /*GALERIA DE IMAGENES*/
    h1{
        margin-left: 10px;
        margin-right:10px;
        margin: 20px;
        padding:10px;
        text-align: center;
        color:white;
        background-color:#5BA0D6;
        border-radius: 15px;
    }
    h1:hover{
        background-image: linear-gradient(-90deg, #207ce5, #66D9DE);
    }
    .galeria{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: 5%;
     }
     .galeria img{
        display: -webkit-flex;
        display: flex;
     }
     .imagen1{
         margin: 25px;
         width: 200px;
         height: 200px;
     }
     .imagen1:hover {filter: opacity(.8);}
      div p{
         text-align: center;
         font-size: 20px;
        }
    /*PIE*/
    footer{
        display: block;
        background-color:#DFAA00;
        text-align: center;
        bottom: 0;
        width: 100%;
        height: 10%;
        color: white;}
        
        footer div i {
          display: block;
        font-size: 25px;
        padding: 5px;
        color: white;
        ;}
        footer i:hover{color:black;}
        #redes{
            width: 100%;
            display: inline-block;
        }
        #direccion{
            width: 100%;
            display: inline-block;
        }
/*Posicionamiento*/

/*PC*/

#contenedor{
    display: flex;
    flex-direction: row;
}
.izq{
    flex: 15%;
}
main{
    flex: 70%;
}
.der{
    flex: 15%;
}



/*TABLET*/
@media screen and (min-width:426px) and (max-width:768px) {   
    
    .izq{
        display: none;
    }
    main{
        flex: 80%;
    }
    .der{
        flex: 20%;
    }
    .imagen1{
        margin: 25px;
        width: 200px;
        height: 200px;
    }
    .imagen1:hover {filter: opacity(.8);}
    header label {
        display: block;
    }
    .menu{
        position: absolute;
        background:#5BA0D6 ;
        width: 70%;
        margin-left: -70%;
        
    }
    /*la virgulilla lo que hace es buscar hasta que encuentre el selector*/
    #botonmenu:checked ~ .menu {
        margin: 0;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid white;
    }
    .imagen1{
            margin: 25px;
            width: 150px;
            height: 150px;
        }
        .imagen1:hover {filter: opacity(.8);}
        header label {
        display: block;
    }
}

/*MOVIL*/
@media screen and (max-width:425px){
        
        .izq{
            display: none;
        }
        main{
            flex: 100%; 
        }
        .der{
            display:none
        }
        .imagen1{
            margin: 25px;
            width: 150px;
            height: 150px;
        }
        .imagen1:hover {filter: opacity(.8);}
        header label {
        display: block;
    }
    .menu{
        position: absolute;
        background:#5BA0D6 ;
        width: 70%;
        margin-left: -70%;
       
    }
    /*la virgulilla lo que hace es buscar hasta que encuentre el selector*/
    #botonmenu:checked ~ .menu {
        margin: 0;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid white;
    }
    }
    
        
    

