*{margin:0;}
html, body{
    margin:0;
    display: flex;
    flex-direction: column;
background-color: #ECF0F5;
font-family: Book Antiqua;
}
header{
    height: 90px;
    background-color: white;
color: blue; }
#contenedor{
    height:80%;
    }
/*Contenido*/
#contenedor{
    display: flex;
    flex-direction: row;
    
}
#izq{
    flex: 30%;
    border:1px solid #5BA0D6;
    margin: 10px;
    background-color: white;
    font-size: 22px;
}

main{
    flex: 40%;
    border:1px solid #5BA0D6;
    margin: 10px;
    background-color: white;
    font-size: 22px;
}
#der{
    flex: 30%;
    border:1px solid #5BA0D6;
    margin: 10px;
    background-color: white;
    font-size: 22px;
}
#noticias{
    padding: 10%;
}
#actualidad{
    padding: 10%;
}
#oposición{
    padding: 10%;
}
#M{
    padding: 10%;
}
#MI{
    padding: 10%;
}
#matriculas{
    padding: 10%;
}
#becas{
    padding: 10%;
}
#prestacion{
    padding: 10%;
}
#espacio{
    padding: 5%;
}
/*Links*/
a:link{
    color: black; font-size: 20px; font-family: Book Antiqua; text-decoration: none;
}
#link{
    color: black;
}
/*Cabecera*/
header{
    padding: 1px;
}
.menu1{
    display: flex;
    align-items: center;
}

.menu1 li{
    display: inline-block;
    margin: auto;
}
.menu1 li a { 
    text-decoration: none;
    font-family: Arial;
    font-size: 15px;
    float: left;
    padding: 30px;;
    color:#5BA0D6;
    display: block;
}
.menu1 li a:hover{
        color: #206398;
}
/*Pie de Página*/
footer{
    display: block;
    background-color:#DFAA00;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 10%;
    color: white;
}
    
footer div i {
    display: block;
    font-size: 25px;
    padding: 5px;
    color: white;
}
    footer i:hover{color:black;}
#redes{
    width: 100%;
    display: inline-block;
}
#direccion{
    width: 100%;
    display: inline-block;
}
/*Diseño Para Tablet*/
@media screen and (min-width:426px) and (max-width:1100px){
    main{
        flex: 80%;
    }
    #der{
        flex: 20%;
    }
    header nav{
        width: 80%;
        height: 100%;
        left: -100%;
        margin: 0;
        position: fixed;
    }
    header nav ul li{
        display: block;
        float: none;
        border-bottom: 1px solid #5BA0D6;
    }
    .btm{
        display: block;
        width: 100%;
        background: #5BA0D6;
    }
    .btm .menu{
        display: block;
        padding: 20px;
        background: #206398;
        color: #5BA0D6;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .btm span{
        float: right;
        font-size: 40px;
    }
    .btm{
        position: relative;
        margin-top: 2%;
        border: 2px soli #5BA0D6;
        border-radius: 2px;
        height: 36px;
        width: 36px;
    }
    #linias::before{
        border-bottom: 17px double #5BA0D6;
        border-top: 6px solid black;
        content: "";
        height: 5px;
        position: absolute;
        right: 3px;
        top: 4px;
        width: 30px;
    }
    .menu1{
        display: none;
    }
    #contenedor{
        display: left;
        flex-direction: column;
    }
    
}
/*Diseño Para Movil*/
@media screen and (max-width:435px){
  
    .btm{
        position: relative;
        margin-top: 2%;
        border: 2px solid #5BA0D6;
        border-radius: 2px;
        height: 36px;
        width: 36px;
    }
    #linias::before{
        border-bottom: 17px double #5BA0D6;
        border-top: 6px solid black;
        content: "";
        height: 5px;
        position: absolute;
        right: 3px;
        top: 4px;
        width: 30px;
    }
    .menu1{display: none;}
    #contenedor{
       display: left;
       flex-direction: column;
   }
    
}